*{
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    counter-reset: miContador 00; 
}

/* nav superior y todo lo del menu */

header{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    margin: 40px 25px;
}

.boton{
    border-radius: 60px;
    background-color:#8B48BF;
    color:white;
    padding: 12px 55px;
    text-decoration: none;
}

.menu-icon{
    display: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:400px;
}

.menu ul li a{
    text-decoration: none;
    color: black;

}

.menu ul li a:hover{
    color: rgb(249, 249, 249);
}

/* banner y  servicios*/

.text-block{
    background-color: #8B48BF;
    color:white;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.go{
    border-radius: 60px;
    background-color:#8B48BF;
    color:white;
    padding: 10px 25px;
    border: none;    
}


.boton-white{
    border-radius: 60px;
    background-color:white;
    color: #8B48BF;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 200px;

}

.subtittle::before{
    display: inline-block;
    counter-increment: miContador; 
    content: counter(miContador, decimal-leading-zero) " ";
    border-radius: 100px;
    background-color: #8B48BF;
    color: white;
    padding: 10px 15px;
    margin-right: 50px;


}

.subtittle{
    padding: 50px;
}

h2, h4{
    width: 50%
}

.text-block h2{
    padding: 15px 25px;
    font-size: 40px;
}

.intro{
    display: flex;
    align-items: center;
    text-align: end;
    width: 1090px;
    height: 461.07px;
    margin: 0, 90px,0, 90px;
    padding: 100px 175px 100px 175px;   
}


.titulo-intro{
    font-weight:700;
    font-size: 52px;
    color: #232851
}

.subtitulo-intro{
    font-weight:500;
    padding: 35px 0px 35px 0px;
}
.intro-img{
    width: 540px;
    height: 461px;
}
.boton-violeta{
    border-radius: 60px;
    background-color: #8B48BF;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
}

.company-information{
    background-color: #FAFAFA;
}

.company-text{
    margin:10px;
    color: rgba(179, 178, 183, 1);
    padding-left: 47px;
    text-align: justify;
    width:437px;
}

.info01{
    padding-right: 27px;
}

.block1 {
    display: flex;
    padding: 20px;
    justify-content:center;
    width: 1133px;
    height: 162px;
    padding: 40px 153.5px 20px 153.5px;
}

.block2 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 530px;
    height: 162px;
    padding: 0px 455px 10px 455px;

}

    /*  los mejores jugadores*/

.best-players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;

}

.players-cards{
    display: flex;
    justify-content: center;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.card img{
    width: 50px;
}


/* todo el footer y su navegación */

.footer{
    background-color: #1E1E26;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 0px 0px;
    box-sizing: border-box;
}

.menu-footer{
    display:flex;
}

.logo, .logos-redes {
    margin:10px;
    padding: 10px;

}

.logos-redes img{
    padding: 5px;
}

.links ul li a, li {
    text-decoration: none;
    list-style-type: none;
    color: white ;
    padding: 0px 0px 10px 0px;
}

.menu-footer, .links, .form-footer{
    margin: 10px  10px 0px 10px;
}

.form-footer,.logotipo{
    padding: 10px 0px;
}


.logotipo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}


.CopyrightOcult{
    display:none
}

.Copyright{
    color: white;
    display: flex;
    justify-content: flex-end;

}

.form-footer  form input{
    border-radius: 40px;
    padding: 10px 25px;
    border: none;  
}




@media (max-width: 480px) {
    /* nav superior y todo lo del menu */
    .menu{
        display: none;
    }
    
    header{
        display: flex;
        justify-content: space-between;
    }

    .menu-icon{
        display: flex;
        margin: 10px;
        width: 30px;
    }

    .btn-menu{
        background: none;         
        border: none;            
        padding: 0;               
        outline: none;            
        cursor: pointer; 
    }

    /* banner y  servicios*/
    .text-block{

        background-color: #3CDDF3;
        flex-direction:column ;
    }

    .intro{
        flex-direction:column ;
        align-content: space-around;
        width: 400px;
        height: 840.53px;
        margin: 0px, 0px, 0px, 0px;
        padding: 0px 40px 0px 10px;    
    }

    .texto-intro{
        width: 400px;
        height: 399px;
    }

    .titulo-intro{
        font-weight:700;
        font-size: 37px;
        color: #232851
    }

    .intro-img{
        width: 400px;
        height:341.53px ;
        margin-bottom: 40px;
    }

    .company-information ,.block1, .block2{
        flex-direction:column ;
        align-content: space-around;
        width: 446px;
        padding: 50px 0px 20px 10px;
        background-color: white;
        }
    
    .company-text{
            text-align: justify;
            width:428px;
            padding: 15px 0px 15px 0px;
    }

    .subtittle::before{
        display: inline-block;
        counter-increment: miContador;  /* Incrementa 'miContador' en 1 */
        content: counter(miContador, decimal-leading-zero) " ";
        border-radius: 100px;
        background-color: #8B48BF;
        color: white;
        padding: 10px 15px;
        margin-right: 5px;
    }

    .subtittle{
        border-radius: 60px;
        background-color: rgba(139, 72, 191, 0.3);
        box-shadow:150px 0 rgba(139, 72, 191, 0.3);
        padding: 10px 105px 10px 0px;
        
        
    }

    h2, h4{
        width: 100%;
        padding: 15px 25px;
    }
    
    h2{
        font-size: 30px;
    }

    .text-block-text2{
        text-align: center;
    }



    
    /*  los mejores jugadores*/
    .best-players .card {
        display: none;
    }

    .best-players .card:nth-child(2) {
        display: flex;
    }

    /* todo el footer y su navegación */
    .footer{
        background-color:  #1E1E26;
        color: white;
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        align-items: center;
        

    }
    .logotipo{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px 10px;
    }

    .logos-redes img{
        padding:0px 20px;
        width: 30px;
        
    }
    .logo{
        width: 110px;
        
    }
    .form-footer  form input{
        padding: 10px 65px;
    }

    .CopyrightOcult{
        display:block;
        margin: 40px 0px;

    }

    .Copyright{
        display:none
    }


    
}