footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.menu-footer ul li{
    text-decoration: none;
    color: white ;
}

.CopyrightOcult{
    display:none
}

@media (max-width: 480px) {
    /* Escondemos el texto de la barra de navegación */
    
    footer{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column-reverse;

    }
    .logotipo{
        display: flex;
        flex-direction: column-reverse;
    }
    .CopyrightOcult{
        display:block
    }

    .Copyright{
        display:none
    }

}