*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.menu-footer{
    display:flex;
    margin:10px;
}

.logo, .logos-redes {
    margin:10px;
    padding: 10px;

}

.logos-redes img{
    padding: 5px;
}

.links ul li a, li {
    text-decoration: none;
    list-style-type: none;
    color: white ;
    padding: 5px;
    margin: 10px;
}


.CopyrightOcult{
    display:none
}

@media (max-width: 480px) {
    /* Escondemos el texto de la barra de navegación */
    
    footer{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column-reverse;

    }
    .logotipo{
        display: flex;
        flex-direction: column-reverse;
    }

    .logos-redes{
        display: flex;
        justify-content: space-between;
    }
    .CopyrightOcult{
        display:block
    }

    .Copyright{
        display:none
    }

}